
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image:url("https://mcdn.wallpapersafari.com/medium/54/85/1EUg2L.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}


.main-wrapper {
    width: 100%;
    height: calc(100vh - 60px); 
    display: flex;
    justify-content: center;
    align-items: center;
}


.overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(255, 240, 245, 0.112);
    z-index: -1;
}
.logo {
    height: 40px; 
    width: auto;   
}

header {
    background-color: rgba(233, 209, 252, 0);
    color: rgb(57, 53, 53);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    height: 60px;
    box-sizing: border-box;
}

.admin-btn {
    background-color: #f8d7e51d;
    color: #2d2c2c;
    padding: 8px 14px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.admin-btn:hover {
    background-color: #ffffff;
}


.login-box {
    background: #ffffff;
    padding: 25px;
    border-radius: 12px;
    width: 320px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
}

h1 {
    color: #282627;
    margin-bottom: 20px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    background-color:  #fdddef;
    color: rgb(52, 52, 52);
    border: none;
    padding: 10px;
    width: 95%;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ffffff;
}

.links {
    margin-top: 12px;
}

.links a {
    text-decoration: none;
    color:  #393939;
    font-weight: bold;
}

.links a:hover {
    text-decoration: underline;
}


